.bash_history
.bash_logout
.bashrc
.cache/
.profile
.ssh/
.sudo_as_admin_successful
.gitconfig
y
y.pub
inventory
.viminfo
.ICEauthority
.Xauthority
.azure/
.config/
.dotnet/
.local/
.pki/
.terraform.d/
.vscode/
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.xsession
.xsession-errors
.wget-hsts
Pictures/
thinclient_drives
snap/
